@import "_norm.scss";
@import "_media.scss";

//colors
$green:#BDD537;
$stone:#6A787C;
$pewter:#97A2A7;
$gallery:#F0F0F0;

.clearfix{
  clear:both;
}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  background-color:$gallery;
  .top{
    background:url(../img/wot-masthead-dark.jpg) center center no-repeat;
    background-size:cover;
    height:70vh;
    nav{
      img{
        height:4vh;
      }
      width:80%;
      margin:0 auto;
      padding-top:3vh;
      position:relative;
      ul{
        position:absolute;
        top:50%;
        right:0;
        li{
          color:white;
          padding:0 1vw;
          float:right;
          display:inline-block;
        }
        li:hover{
          border-bottom:.3rem solid $green;
          padding-bottom:.5rem;
        }
      }
    }
    section.txt{
      width:80vw;
      margin:0 auto;
      margin-top:16vh;
      text-align:center;
      .button:hover{
        background-color:$green;
        border:solid gray 1px;
        h1{
          color:black;
        }
      }
      .button{
        padding:.3rem;
        border:1px $green solid;
        border-radius:5rem;
        width:20vw;
        margin:0 auto;
        h1{
          color:$green;
          font-size:1em;
        }
      }
      h1{
        color:white;
        font-size:3.5em;
      }
    }
  }
  section.info{
    width:50vw;
    margin:0 auto;
    text-align:center;
    height:30vh;
    margin-top: 15vh;
    h1{
      font-size:1.5rem;
      color:$stone;
      line-height:2.4rem;
    }
    .box{
      width:15vw;
      height:1vh;
      background-color:$green;
      margin:0 auto;
    }
  }
  section.threeBox{
    background-color:$gallery;
    height:60vh;
    width:100vw;
    .container{
      width:80%;
      margin:0 auto;
      height:50vh;
      display:flex;
      .box{
        background:white;
        height:100%;
        width: 30%;
        margin:5vh 1.6%;
        h1{
          text-align:center;
          color:$stone;
        }
        .bar{
          height:1vh;
          width:20%;
          background-color:$green;
          margin:0 auto;
        }
        p{
          margin:0 auto;
          margin-top: 4vh;
          width:80%;
          text-align:center;
          line-height:2rem;
          font-size:1.3rem;
          color:$pewter;
        }
        a{
          text-decoration:none;
          p.more{
            color:$green;
            font-size:1.15rem;
          }
        }
      }
    }
  }
}
section.shirtPic{
  height:100vh;
  width:100vw;
  background:url(../img/wot-office-shirts.jpg)no-repeat center center;
  background-size:cover;
}
section.help{
  display:flex;
  height:60vh;
  background-color:white;
  .left{
    color:$stone;
    width:45%;
    h1{
      text-align:center;
      margin-top:6rem;
    }
    .bar{
      height:1vh;
      width:20%;
      background-color:$green;
      margin:0 auto;
    }
  }
  .right{
    color:$pewter;
    width:55%;
    display:flex;
    a:hover{
      color:$green;
    }
    a{
      text-decoration:none;
      color:$pewter;
      font-size:.6rem;
    }
    h1{
      margin:0;
      margin-bottom:2rem;
    }
    .left2{
      width:45%;
      margin-top:6rem;
    }
    .mid{
      width:10%;
    }
    .right2{
      margin-top:6rem;
      width:45%;
    }
  }
}
.work{
  height:60vh;
  width:100vw;
  background-color:$gallery;
  h1{
    padding-top:15vh;
    text-align:center;
  }
  .bar{
    height:1vh;
    width:20%;
    background-color:$green;
    margin:0 auto;
    margin-bottom:5rem;
  }
  .container{
    width:80%;
    margin:0 auto;
    display:flex;
    .img{
      width: 20%;
      height:10vh;
      margin:0 2.5% 3rem 2.5%;
      background-size:cover;
    }
    .necma{
      background-image: url(../img/ncma-logo.svg);
    }
    .matt{
      background-image: url(../img/americasmattress-logo.svg);
    }
    .serona{
      background-image: url(../img/sirona-logo.svg);
    }
    .redgiant{
      background-image: url(../img/redgiant-logo.svg);
    }
    .toolfarm{
      background-image: url(../img/toolfarm-logo.svg);
    }
    .imag{
      background-image: url(../img/imagineer-logo.svg);
    }
    .ci{
      background-image: url(../img/ci-logo.svg);
    }

  }
}
section.talk{
  margin-top:10vh;
  height:45vh;
  width:100vw;
  background-color:$stone;
  h1{
    margin:0 auto;
    padding-top:10vh;
    padding-bottom:2vh;
    text-align:center;
    color:white;
  }
  .bar{
    height:1vh;
    width:20%;
    background-color:$green;
    margin:0 auto;
    margin-bottom:1.7rem;
  }
  p{
    width:60%;
    margin:0 auto;
    text-align:center;
    color:white;
    font-size:1rem;
    line-height:1.7rem;
  }
  .button{
    margin:0 auto;
    margin-top:3vh;
    width:10vw;
    height:5vh;
    background-color:$green;
    border-radius:100vw;
    p{
      text-align:center;
      line-height:5vh;
    }
  }
}
footer{
  height:10vh;
  width:100vw;
  display:flex;
  p{
    line-height:10vh;
    margin-left:20vw;
  }
  ul{
    width:50vw;
    margin:0 5vw 0 5vw;
    li:hover{
      color:$green;
    }
    li{
      padding:0 1.4vw;
      display:inline;
      line-height:10vh;
    }
  }
}
.green{
  color:$green;
}
